

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    
}

#title {
    
    flex-direction: row;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}


#container {
    height: 800px;
    width: 650px;
    outline: 1px solid black;
    border-radius: 10px;
    background-color: burlywood;
    padding: 0;
    margin-top: 1px;
    display: flex;
    flex-direction: column;
    
    
    
}

#display {
    outline: 1px solid;
    border-radius: 10px;
    margin: 10px 10px 0 10px;
    height: 12%;
    text-align: right;
}

.calc {
    outline: 1px solid;
    margin-right: 5px;
    height: 20%;
}

#current {
    margin-top: 10px; 
}


#ac {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10%;
}

.child {
    height: 100%;
    width: 45%;
    margin: 0 auto;
    
}


.delete {
    height: 100%;
    width: 100%;
    font-size: 28px;
}




#input {
    margin: 25px 15px 0 15px;
    height: 60%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}



.btn {
    height: 100%;
    width: 100%;
    border: 1px solid;
    border-radius: 5px;
    font-size: 45px;
}